body {
  margin: 0;
  font-size: 16px;
  font-family: verdana, sans-serif;
  color: #333;
}

header {
  background: skyblue;
  color: #fff;
  text-align: center;
  padding-top: 64px;

}

header h1,
header p {
  margin: 0;
}

header img {
  width: 280px;
  vertical-align: bottom;
}

.sp-menu #open {
  position: fixed;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
  color: blue;
}

.se-menu #open.hide {
  display: none;
}

.btn {
  text-decoration: none;
  background: #fff;
  color: skyblue;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.features img {
  width: 100%;
}

.features > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.features .container {
  margin: 0 32px;
}

.features p {
  line-height: 1.8;
}

.features section {
  padding-bottom: 64px;
}

.members {
  background: #f2f2f3;
}

.members > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.members ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.members img {
  width: 160px;
  border-radius: 50%;
}

.members h2 {
 font-size: 20px; 
}

.members li {
  padding-bottom: 64px;
}

.call-to-action {
  background: skyblue;
  color: #fff;
  text-align: center;
  padding: 64px 0;
}

.call-to-action h1 {
  font-weight: normal;
}

.call-to-action .btn {
  margin: 0 auto;
}

footer {
  padding: 64px 0;
  background: #323135;
  color: #98969c;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: 0.3s;
}

.overlay.show li:nth-child(3) {
  transition-delay: 0.6s;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.pc-menu {
  display: none;
}

@media (min-width: 900px) {
  header .container {
    display: flex;
    width: 800px;
    margin: 0 auto;
  }

  header .info {
    width: 60%;
    align-self: center;
  }
  header .pic {
    width: 40%;
  }

  .features .container {
    width: 800px;
    margin: 0 auto;
  }

  .features section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .features section {
    display: flex;
    justify-content: space-between;
  }

  .features .pic {
    width: 50%;
  }

  .features .info {
    width: calc(50% - 32px);
  }

  .members ul {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .members li {
    width: 250px;
  }

  .pc-menu {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .pc-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }


  .pc-menu a {
    display: block;
    width: 80px;
    line-height: 32px;
    text-align: center;
  }

  .pc-menu a:hover {
    background: #f2f2f2;
    opacity: 0.9;
  }

  .sp-menu {
    display: none;
  }
}